h1{
    font-family: 'Megrim', cursive;
    text-align: center;
    color: firebrick;
}
hr {
    width: 100%;
}

.container {
    width: 650px;
    margin: auto;
}

.bold{
    font-weight: bold;
}
.red{
    color:red;
}
 p{
	font-family: 'Roboto Slab', cursive;
	font-size: 20px;
	width: 280px;
	float:left;
	color:white;
}
img{
    float: right;
    margin-right: 100px
}
body {
    background-image: url("starnight.jpg");
  }
input{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 200px;
}