#bg {
    position: absolute;
}

hr {
    width: 75%;
}


.container {
    width: 650px;
    margin: auto;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}

img {
    float: right;
}

.container {
    background-image: url("cosmos-2499108_960_720.jpg");
}

h1 {
    color: blue;
}
